@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&family=Sora:wght@700&display=swap');

$primary-font-style : Karla;
$secondary-font-style : Sora;

$primary-font-color : #000000;
$secondary-font-color : #858585;

$color-blue : #8EEBF5;
$color-violet : #b35cff;
$color-white : #ffff;
$color-yellow : #F1FF85;
$color-orange : #FABE75;
