@import "./_config.scss";

@mixin similar_card($selected_color){
    display: flex;
    height: 28rem;
    padding: 2rem;
    background-color: $selected_color;
    flex-direction: column;

    h1,p{
        padding-top: 1rem;
    }

    & > div:first-child{
        position: relative;
        width: 8rem;
        height: 8rem;
    }
    
}

.features-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;

    & > div{
        border-radius: 15px;
        border: 1px solid ;
    }

    p{
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    & > div:first-child{
        background-color: $color-orange;
        grid-row: 1 /3;
        padding-top: 2rem;

        & > div:first-child{
            position: relative;
            margin: 0 auto;
            width: 90%;
            height: 24rem;
        }

        & > div:last-child{
            padding: 2rem;

            p{
                padding-top: 1rem;
            }
        }
    }

    & > div:nth-child(2){
        @include similar_card(#8EEBF5);
    }


    & > div:nth-child(3){
        @include similar_card($color-violet);
    }
    
    & > div:last-child{
        height: 16rem;
        display: flex;
        grid-column: 2 / 4;
        background-color: $color-yellow;
        align-items: center;

        & > div:first-child{
            flex: 30;
            
            & > div:first-child{
            position: relative;
            width: 80%;
            height: 10rem;
            margin: 0 auto;
            }
        }

        & > div:last-child{
            flex: 70;
            height: 10rem;

            p{
                padding-top: 1rem;
            }
        }
    }
}

