
@import "./_config.scss";

.main{
    width: 95%;
    margin: 2rem auto 0 auto;
    font-family: $primary-font-style;
  }

  
.blogs-header{
  display: flex;
  margin-top: 4rem;

  & > div:first-child{
    flex: 30;
  }

  & > div:last-child{
    flex: 70;
    padding-left: 1rem;
  }
}